@font-face {
  font-family: "Star Wars";
  src: url(assets/starjedi/Starjedi.ttf);
}
@font-face {
  font-family: "Star Wars hallow";
  src: url(assets/SfDistantGalaxyOutline-xoeO.ttf);
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url(assets/starBackGround.jpeg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#gamePlayScoreText {
  display: none;
}

#scoreBoardText {
  display: none;
}

.typeText {
  color: white;
  font-family: "Black Ops One";
  font-size: 2.8vw;
  margin: 2vw;
  padding: 0;
  letter-spacing: 0.5vw;
}

#gamePlayEndArea {
  display: none;
  flex-direction: column;
  position: absolute;
  height: fit-content;
  width: fit-content;
  box-shadow: 0 12px 50px 0 skyblue, 0 -10px 500px 0 goldenrod;
  background-color: rgba(0, 0, 0, 0.89);
  top: 12vh;
  left: 20vw;
  z-index: 2;
}

#reboot {
  display: none;
  color: white;
  font-family: Lora;
  font-size: 3vw;
  letter-spacing: 1vw;
  margin-top: 38vh;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: fit-content;
}

#restartArea {
  display: none;
  flex-direction: column;
  align-content: center;
  align-items: center;
  position: absolute;
  height: fit-content;
  width: fit-content;
  /* box-shadow: 0 12px 50px 0 skyblue, 0 -10px 500px 0 skyblue; */
  /* background-color: rgba(0, 0, 0, 0.89); */
  top: 18vh;
  left: 14vw;
  z-index: 2;
}

.laser {
  background-color: orangered;
}

img {
  height: 5vh;
  width: 10vw;
}

#galacticDefender {
  position: absolute;
  top: 85vh;
}

#gameArea {
  display: none;
  /* border: solid skyblue 4px; */
  height: 95vh;
  width: 95vw;
  position: relative;
}

#titleArea {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 95%;
  align-items: center;
}

#introArea {
  display: none;
  flex-direction: column;
  height: 90%;
  width: 95%;
  align-items: center;
  justify-content: center;
}

#trailerArea {
  display: none;
  border: solid rgba(0, 0, 0, 0.1);
}

.play {
  display: none;
  color: goldenrod;
  font-family: Star Wars hallow;
  font-size: 10vw;
  margin-top: 3%;
  background-color: black;
}

.blueHover:hover {
  box-shadow: 0 12px 16px 0 skyblue, 0 17px 50px 0 skyblue,
    -17px 0px 50px 0 skyblue, 0px -17px 50px 0 skyblue;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

#crawlArea {
  transform: perspective(40vh) rotateX(25deg);
  transform-origin: 50% 100%;
  position: absolute;
  font-weight: bold;
  overflow: hidden;
  font-size: 450%;
  height: 50em;
  width: 100vw;
  bottom: 0;
}

#crawlText {
  font-family: Arial, Helvetica, sans-serif;
  color: #daa520;
  font-size: 6.7vw;
  font-weight: bold;
  align-content: flex-start;
  letter-spacing: 0.03vw;
  text-align: justify;
  animation: scroll 145s linear 6s;
  position: absolute;
  top: 100%;
  margin-left: 5vw;
  margin-right: 5vw;
}

@keyframes scroll {
  100% {
    top: -170%;
  }
}

#hollowStarWarsText {
  display: none;
  font-size: 16vw;
  color: #daa520;
  font-family: Star Wars hallow;
  line-height: 0.75;
  text-indent: 4%;
  margin: 1.5%;
  padding: 0;
}

.goldButtons {
  text-align: center;
  font-family: Star Wars;
  color: white;
  font-size: 1.3em;
  background-color: goldenrod;
  border-radius: 25px;
  width: 200px;
  cursor: pointer;
  display: none;
}

.goldButtons:hover {
  box-shadow: 0 12px 16px 0 skyblue, 0 17px 50px 0 skyblue;
}

#longTimeArea {
  display: none;
}

#longTimeText {
  font-family: Arial, Helvetica, sans-serif;
  color: skyblue;
  font-size: 6vw;
  font-weight: bold;
}

#productionArea {
  display: none;
}

.productionArticle {
  font-family: Arial, Helvetica, sans-serif;
  color: green;
  font-size: 7vw;
  font-weight: bold;
}
#coreyApp {
  font-family: Arial, Helvetica, sans-serif;
  color: green;
  font-size: 9vw;
  font-weight: bolder;
}

#starWars {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  align-items: center;
  align-content: center;
  font-size: 16vw;
  color: goldenrod;
  font-family: Star Wars;
  line-height: 0.75;
  text-indent: 2vw;
  margin: 1.5%;
  padding: 0;
}

#tagLine {
  color: white;
  font-family: Lora;
  font-size: 5vw;
  letter-spacing: 1vw;
  margin: 0;
  padding: 0;
}

#enter {
  color: goldenrod;
  font-family: Star Wars hallow;
  font-size: 10vw;
  margin-top: 3%;
  background-color: black;
}

#enter:hover {
  box-shadow: 0 12px 16px 0 skyblue, 0 17px 50px 0 skyblue,
    -17px 0px 50px 0 skyblue, 0px -17px 50px 0 skyblue;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.play:hover {
  box-shadow: 0 12px 16px 0 skyblue, 0 17px 50px 0 skyblue,
    -17px 0px 50px 0 skyblue, 0px -17px 50px 0 skyblue;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#controllerSection {
  display: none;
  flex-direction: row;
}

#leftArrow{
    display: none;
}

#rightArrow{
    display: none;
}

#fireLaserMobile{
    display: none;
}

@media screen and (max-width: 920px) {
  #controllerSection {
    position: absolute;
    top: 85vh;
    left: 20vw;
  }

  img {
    height: 8vh;
  }

  #galacticDefender {
    position: absolute;
    top: 75vh;
  }

  #leftArrow{
      position: absolute;
      top: 85vh;
      left: 5vw; 
      display: flex; 
      width: 24vw;
  }

  #rightArrow{
      position: absolute;
      top: 85vh;
      left: 70vw;
      display: flex; 
      width: 24vw;
  }

  #fireLaserMobile{
     position: absolute;
     top: 85vh; 
     left: 38vw;
     display: flex;
     width: 24vw;
     height: 8vh;
     background-color: red;
  }

  #playText {
    margin-bottom: 20vh;
  }

  #productionArea {
    display: none;
    margin-bottom: 25vh;
  }

  #longTimeArea {
    display: none;
    margin-bottom: 25vh;
  }

  #continueButton {
    position: absolute;
    top: 45vh;
  }

  #enter {
    margin-top: 10%;
  }

  #titleArea {
    margin-top: 30%;
  }

  #crawlText {
    font-family: Arial, Helvetica, sans-serif;
    color: #daa520;
    font-size: 6.7vw;
    font-weight: bold;
    align-content: flex-start;
    letter-spacing: 0.03vw;
    text-align: justify;
    animation: scroll 475s linear 6s;
    position: absolute;
    top: 100%;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@media screen and (max-height: 660px) {
  #starWars {
    font-size: 10vw;
  }
  #tagLine {
    font-size: 4vw;
  }
  #enter {
    font-size: 5vw;
  }
}
